<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage_Casa</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- HTML como View onde atraves do thymeleaf é possivel visualizar os dados do 'Backend' -->
    <h1>Lista de Componentes</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="componente:${componentes}">
                <td th:text="${componente.codigo}">133</td>
                <td th:text="${componente.nome}">Cimento</td>
            </tr>
        </tbody>
    </table>
</body>
</html>